.App {
  min-height: 100vh;
  background: url("https://www.nortonrosefulbright.com/-/media/images/nrf/thought-leadership/us/us-state-of-the-union-covid-19-now.jpg?la=en-id&revision=e4467f9a-da2f-45b0-9fe9-cc206009341d&hash=A2869E7E743A2882FCCE48C4EB73D20C4C512421");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
